# Ignore CMake build folder
cpp11_sort_task_manager/build/
cpp14_sort_task_manager/build/
cpp17_sort_task_manager/build/
cpp20_sort_task_manager/build/
TaskManager/build/
SmartPointers/build/
OOPS/build/
C++_IO_FILE_STREAMS/build/
Templates/build/
STL_Containers/build/
STL_Iterators_Algorithms/build/
/CMakeFiles/
/CMakeCache.txt
Makefile
*.o
*.exe